h2 {
    color: #D42125;
    font-family: sans-serif;
    border-bottom: 5px solid #05496C;
}

#logo {
    display: inline-block;
    margin: 0 auto;
    padding-top: 5vh;
    width: 76vw;
}

body{
    width: 80vw;
    padding: 0vw 10vw 0vw;
    margin: auto;
    background-color:gray;
}

#wrapper{
    background-color: #68c6e0;
    padding: 2vw;
    height: 95vh;
}

ul {
    list-style-type: none;
    background-color: lightgray;
    color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #1d6579;
    font-size: 3vh;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #D42125;
}