h1 {
    color: #D42125;
    font-family: sans-serif;
    border-bottom: 5px solid #cd9932;
}

#gamespace {
    height: 700px;
    background-color: #911417;
    align-self: center;
    align-content: center;
    margin: 0 auto;
}

#gamespace canvas{
    height: 700px;
    margin: 0 auto;
    padding: 0 auto;

    align-self: center;
}

body{
    width: 80vw;
    padding: 0vw 10vw 0vw;
    margin: auto;
    background-color:gray;
}

#wrapper{
    background-color: #341c00;
    padding: 2vw;
}

ul {
    grid-area: nav;
    list-style-type: none;
    background-color: #cd9932;
    color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #D42125;
    font-size: 3vh;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #916611;
}